<div class="navbar w-100 m-0">
    <div class="row justify-content-between w-100 align-items-center h-100">
      <div class="col-6">
        <div class="row justify-content-start align-items-center h-100">
          <div class="col-2 logo">
            <img src="/image/logo.svg" alt="" />
          </div>
          <div class="col-auto">
            <ul class="d-flex justify-content-between m-0">
              <a class="nav-link active" aria-current="page" href="#">Главная</a>
              <a class="nav-link" href="#">Филиалы</a>
              <a class="nav-link" href="#">О нас</a>
              <a class="nav-link" href="#">Контакты</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 h-100">
        <div class="row justify-content-end align-items-center h-100" >
        <div class="col-4 nav_phone h-100">
          <a class="nav-link nav_btn" href="tel:+998942122829">
            <i class="fas fa-phone"></i>
            +998(94)2122829
          </a>
        </div>
        <div class="col-2  sign-in">
          <a href="/">Войти</a>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="categoryMenu">
  <ul class="categoryList mb-0">
    <a href="#"> Lavash</a>
    <a href="#"> Desert</a>
    <a href="#"> Set</a>
    <a href="#"> Xaggi</a>
    <a href="#"> Burger</a>
    <a href="#"> Pizza </a>
    <a href="#"> Sendvich </a>
    <a href="#"> Donar </a>
    <a href="#"> Xot-Dog </a>
    <a href="#"> Fri </a>
    <a href="#"> Napitki </a>
    <a href="#"> Salat </a>
    <a href="#"> Non  </a>
  </ul>
</div>