<section>
  <div class="products">
    <div class="container">
      {{! Lavash Page }}
      <div class="product-item">
        <div class="product_list-title">
          <h2>🌯 Lavash</h2>
        </div>
        <div class="row product_data justify-content-between">

          <div class="col-3 px-3">
            <div class="card">
              <img src="/image/lavash1.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Lavash</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">19 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3">
            <div class="card">
              <img src="/image/lavash1.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Lavash Mini</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">24 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3">
            <div class="card">
              <img src="/image/lavash sirli.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Lavash sirli</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">22 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3">
            <div class="card">
              <img src="/image/lavash sirli.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Lavash sirli mini</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">21 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3 my-4">
            <div class="card">
              <img src="/image/lavash tandir.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Tandir Lavash</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">21 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3 my-4">
            <div class="card">
              <img src="/image/tandir xla.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Xalapenyo Lavash</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">24 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3 px-3 my-4">
            <div class="card">
              <img src="/image/lavash sirli.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title"> Xalapenyo Lavash</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">15 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

           <div class="col-3 px-3 my-4">
            <div class="card">
              <img src="/image/lavash1.jpg" alt="" />
              <div class="card-body">
                <div class="info-block-container">
                  <div class="info block">
                    <h5 class="card_title">Tandir sirli lavash</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Dolor, eos?</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="money">
                    <div class="money_value">26 000 </div>
                    <div class="money_currency"> sum</div>
                  </div>
                  <button class="product_btn btn btn-danger">Выбрать</button>
                </div>
              </div>
            </div>
          </div>

          {{!-- Calc_Total_Btn  Total narxlarni hisoblidigon--}}

          <button class="cardButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="total_items">
              <span class="shoppingIcon">
                <i class="fas fa-cart-plus"></i>
              </span>
              <span class="currency">0 шт</span>
            </span>
            <div class="price">0 sum</div>
          </button>

        </div>
      </div>
    </div>
  </div>
</section>