@import url(./header/navbar.css);
@import url(./section/section.css);
@import url('https://fonts.googleapis.com/css2?,wght@1,200&display=swap');

* {
  padding: 0 !important;
  margin: 0;
  list-style-type: none;
    text-decoration: none !important;
}
body{
  background: #f6f6f6;
}
    