/* =========================================Product Card Style Starting========================================= */
section {
  position: relative;
}
section .products .product_list-title {
  width: 100%;
  margin: 32px 0 24px;
}
section .products .product_list-title h2 {
  color: #000;
  font-weight: 500;
  font-size: 36px;
}
.product_list .card {
  margin-bottom: 16px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.products .card,
.card-footer {
  border: none !important;
  background: #fcfafa;
}
.products .card img {
  width: 100%;
  height: 322px;
  border: none;
  object-fit: cover;
}

.products .card .card-body {
  padding: 20px !important;
}
.products .card .card-body p {
  font-size: 13px;
  line-height: 16px;
  color: #919399;
  font-weight: 400;
}
.products .card .card-body .info-block-container {
  margin-bottom: 15px;
}

.products .card .card-body .card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.products .card .card-body .card-footer .money {
  display: inline-block;
  display: flex;
  justify-content: start;
  font-weight: 500;
}
.products .card .card-body .card-footer .product_btn {
  display: block;
  width: 128px;
  height: 32px;
  padding: 0 16px;
  font-size: 15px;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: #eb2341;
  color: #fff;
}
/* =========================================Total Shopping Card Style Starting========================================= */
section .cardButton {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 85%;
  right: 0;
  background: #eb2341;
  border: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 85px;
  height: 75px;
}
section .cardButton .total_items {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
section .cardButton .price {
  background-color: #fff;
  border-radius: 3px;
  width: 80%;
  color: #eb2341;
  font-size: 11px;
  font-weight: 700;
  padding: 4px 10px !important;
}
/* =========================================Off Canvas Screen Style Starting========================================= */
.offcanvas-header .btn-close {
  margin-right: 12px;
  font-weight: 700;
}

.offcanvas .offcanvas-header {
  margin: 25px 20px;
}

.offcanvas .offcanvas-body {
  border-top: 1px solid #e3e4e6;
}

.offcanvas .offcanvas-body .no-product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  border-bottom: 6px solid #f6f6f6;
  padding-bottom: 50px !important;

}
.offcanvas .offcanvas-body .no-product-img i {
  font-size: 110px;
  color: #eb2341;
}
.offcanvas .offcanvas-body .no-product-img span {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 10px;
}
